# Dependencies
node_modules/

# Next.js build outputs
.next/
out/
dist/

# Environment variables
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editors
.vscode/
.idea/

# OS files
.DS_Store

# Misc
.pnpm-store/
web/node_modules/
server/node_modules/
web/.next/
server/dist/
env/
.env
