services:
  web:
    build:
      context: ../web
      dockerfile: ../infra/docker/web.Dockerfile
    env_file:
      - ./env/production.env
    expose:
      - "3000"

  server:
    build:
      context: ../server
      dockerfile: ../infra/docker/server.Dockerfile
    env_file:
      - ./env/production.env
    expose:
      - "4000"

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web
      - server
