services:
  web:
    build:
      context: ../web              # frontend source
      dockerfile: ../infra/docker/web.Dockerfile  # full path from infra folder
    env_file:
      - ./env/production.env
    ports:
      - "3000:3000"

  server:
    build:
      context: ../server           # backend source
      dockerfile: ../infra/docker/server.Dockerfile  # full path from infra folder
    env_file:
      - ./env/production.env
    ports:
      - "4000:4000"
