services:
  web:
    build:
      context: ../web
      dockerfile: ../infra/docker/web.Dockerfile
    env_file:
      - ../infra/env/production.env
    ports:
      - "3000:3000"

  server:
    build:
      context: ../server
      dockerfile: ../infra/docker/server.Dockerfile
    env_file:
      - ../infra/env/production.env
    ports:
      - "4000:4000"

