version: "3.9"

services:
  web:
    build:
      context: ../web           # Frontend source folder
      dockerfile: ./docker/web.Dockerfile  # Dockerfile inside infra/docker
    env_file:
      - ./env/production.env
    ports:
      - "3000:3000"

  server:
    build:
      context: ../server        # Backend source folder
      dockerfile: ./docker/server.Dockerfile # Dockerfile inside infra/docker
    env_file:
      - ./env/production.env
    ports:
      - "4000:4000"
