services:
  web:
    build:
      context: ../web                          # frontend source folder
      dockerfile: ../infra/docker/web.Dockerfile
    env_file:
      - ./env/production.env
    ports:
      - "3000:3000"

  server:
    build:
      context: ../server                       # backend source folder
      dockerfile: ../infra/docker/server.Dockerfile
    env_file:
      - ./env/production.env
    ports:
      - "4000:4000"
