services:
  web:
    build:
      context: ../web                  # context = سورس فرانت
      dockerfile: ../infra/docker/web.Dockerfile  # مسیر واقعی Dockerfile فرانت نسبت به infra
    env_file:
      - ./env/production.env
    ports:
      - "3000:3000"

  server:
    build:
      context: ../server               # context = سورس بک‌اند
      dockerfile: ../infra/docker/server.Dockerfile  # مسیر واقعی Dockerfile بک‌اند نسبت به infra
    env_file:
      - ./env/production.env
    ports:
      - "4000:4000"
