version: "3.9"
services:
  web:
    build:
      context: .
      dockerfile: infra/docker/web.Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - infra/env/production.env
    depends_on:
      - server

  server:
    build:
      context: .
      dockerfile: infra/docker/server.Dockerfile
    ports:
      - "4000:4000"
    env_file:
      - infra/env/production.env
