services:
  web:
    build:
      context: ../web          # مسیر واقعی سورس فرانت
      dockerfile: ./docker/web.Dockerfile
    env_file:
      - ./env/production.env
    ports:
      - "3000:3000"

  server:
    build:
      context: ../server       # مسیر واقعی سورس بک‌اند
      dockerfile: ./docker/server.Dockerfile
    env_file:
      - ./env/production.env
    ports:
      - "4000:4000"
